*/* {
    border: solid white;
}*/

body {
    background-color: black;
    color: whitesmoke;
   
}

.first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container1 {
    display: flex;
}

.container2 {
    display: flex;
}

.box1 {
    width: 75%;

}

.second {
    width: 60%;
}

.third {
    width: 40%;
}

.box2 {
    width: 25%;
}

.box3 {
    width: 100%;
    align-content: flex-end;
}

.box1 .box2{
    
    flex-direction:row;
    

}
    

.box1 .box2 .box3 {
    flex-direction: column;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#fill {
    background-color: yellow;
    border-radius: 50%;
}